input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

h1 {
    text-align: center;
}

#addItemContainer {
    margin: auto;
    width: 50%;
}

.todoName{
    display: block;
    width: 380px;
}

#counter{
    text-align: center;
}

.tableContainer {
    width: 580px;
    border-radius: 10px;
    background: lightgray;
    margin: auto;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}
